* {
  border-style
}

body {
  background-image: linear-gradient(#fa709a 0%, #fee140 100%);
  margin: 0 0 0 0;
  font-family: 'Roboto', sans-serif;
}

h5 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  padding: 3% 3% 3% 3%;
}

#textDirections p {
font-size: 1.1em;
background: -webkit-linear-gradient(#fa709a 0%, #fee140 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding: 5% 2% 5% 2%;
margin: 0 0 0 0;
text-align: justify;
line-height: 2;
}

.widgetImgs img {
  display: inline;
  width: 20%;
  margin: 2%;
  border-radius: 10px;
  max-height: 300px;
}

.widgetImgs {
  text-align: center;
}

header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 100%;
  height: 20%;
  margin: 0px 0px 0px 0px;
}

header h1 {
  margin: 0px;
  padding: 3%;
}

header h2 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

header img {
  height: 10em;
  padding: 2% 2% 2% 2%;
}

#textDirections {
  background-color: black;
  height: 20%;
  min-height: 200px;
}

#myChart {
  min-height: 100px;
  background-color: black;
  width: 100%;
  padding: 1% 1% 1% 1%;

}
